.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  display: block;
  padding-top: 24px;
  padding-bottom: 20px;
  margin-right: 94px;
}

.logo__accent-blue {
  color: var(--brand-color);
}
.logo__accent-black {
  color: var(--main-color);
}

.logo__accent-white {
  color: var(--second-brand-color);
}


.logo:hover,
.logo:focus {
}
